html, body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden; 
}
body {
  background-color:#AEC6CF;
  color: #2f527a;
  font-family: "mini-wakuwaku";
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  
}

@media (max-width: 768px) {
  .some-class {
    font-size: 1rem;
    flex-direction: column;
  }
}
  
@font-face {
    font-family: "mini-wakuwaku";
    src: url("https://github.com/su-mmer-sun/summers-sanctuary/tree/main/assets/mini-wakuwaku.woff" format 'woff');
}

:root {
  --pink: #F5B8C5;
  --lightgreen: #9DBEAA;
  --darkgreen: #2D6257;
  --lightblue: #AEC6CF;
  --darkbrown: #794835;
  --white: #FFFEF2;
  --black: #271D16;

  --t-white: #FFFEF2B;
  --t-black: #271D1677;
  --t-brown: #BD9F8955;
  --t-darkbrown: rgba(121,72,53,0.7);

  --title-font: "mini-wakuwaku", sans-serif;


}

body {
  background-color: #AEC6CF;
  margin: 0;
  padding: 0;
  overflow: scroll;

}
 
body {
    background-image: url('assets/lilypad set 1.png'),url('assets/lilypad set 2.png'),url('assets/lilypad3.png'),url('assets/ripples flipped.png'),url('assets/ripples.png'),url('assets/fishtrio.png');
    background-size: 700px,700px,700px,600px,800px;
    background-repeat: no-repeat;
    background-position:-15% -10%,125% 15%,85% 25%,-15% 20%,130% -10%,-45% 5%;
    z-index:-1;
    cursor: url('assets/cursor.png'), auto;
  
}
  
.background-img {
  position: absolute;
  z-index: -1;
}

.text {
  position: relative;
  z-index: 1;
}

h1 {
  font-size: 80px;
  font-family: "mini-wakuwaku";
  color: #794835;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
  z-index:1;
}

h2 {
  font-size: 30px;
  text-align:center;
  margin-bottom: 270px;
  z-index:1;

}

h3 {
  font-size: 50px;
  text-align:center;
  color: #f2f0ef;
  margin-top: 225px;
  z-index:1;
  
  
}
h4 {
  font-size: 15px;
  z-index:1;
  margin-top: 10px;
  margin-bottom: 10px;

}  
h5 {
  font-size:20px;
  z-index:1;
  text-indent:160px;
  margin-bottom: 1000px;
}

p {
  font-size: 20px;
  z-index:1;
  text-indent:160px;
}

.fishList {
  position: absolute;
  width: 150px;
  height: 150px;
  pointer-events: none;
  z-index: -5; 

}  

.fish {
  width: 100%;
  height: 100%;
}

footer {
    display: block;
        background-color: #75A2CC; 
    color: white;
    text-align: center;
    padding: 10px;
    font-family: 'mini-wakuwaku';
    position: relative;
    z-index: -1;
    font-size: 10px;
}

